/* body {
    background-image: url('landscape.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #00ced1;
}

label {
    color: #4682b4;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 2px solid #00ced1;
    border-radius: 5px;
    margin-bottom: 20px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4682b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #00ced1;
}

#weatherInfo {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

p {
    margin: 10px 0;
} */
